@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  margin: 0 auto;

  padding: 0px 55px;
}

@media only screen and (max-width: 749px) {
  .container {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.link:hover {
  border-bottom: 1px solid black;
}
