@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  margin: 0 auto;

  padding: 0px 55px;
}

@media only screen and (max-width: 749px) {
  .container {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.link:hover {
  border-bottom: 1px solid black;
}

.details-slider {
  display: none !important;
}

@media only screen and (max-width: 475px) {
  .details-slider {
    display: block !important;
  }
}

.menuBtn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.bar {
  width: 30px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: black;
  transition: all 0.3s ease-in-out;
}
.bar:nth-of-type(2) {
  top: calc(50% - 9px);
}
.bar:nth-of-type(3) {
  top: calc(50% + 9px);
}

.menuBtn.active .bar:nth-of-type(1) {
  display: none;
}
.menuBtn.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menuBtn.active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
